<?xml version="1.0" encoding="utf-8"?>
<DataType Key="850e4429-38b6-452e-b822-99a8dbb93b85" Alias="Content Page Block List " Level="2">
  <Info>
    <Name>Content Page Block List </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Blocks</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "6835fd54-d26b-41be-a756-bcdd07d344fc",
      "label": "${ (title || \u0027No Title\u0027)   \u002B \u0027 (Test Block)\u0027 }"
    }
  ]
}]]></Config>
</DataType>