<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8cb5b38b-0815-45f3-86ef-3a53a4bc487d" Alias="Test TinyMCE" Level="2">
  <Info>
    <Name>Test TinyMCE</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TinyMCE</EditorUIAlias>
    <Folder>TinyMCE</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "6835fd54-d26b-41be-a756-bcdd07d344fc",
      "label": "Test Block Label",
      "backgroundColor": "#db2424"
    }
  ],
  "maxImageSize": 500,
  "mode": "Classic",
  "stylesheets": [
    "/rte-styles.css"
  ],
  "toolbar": [
    "styles",
    "bold",
    "italic",
    "alignleft",
    "aligncenter",
    "alignright",
    "bullist",
    "numlist",
    "outdent",
    "indent",
    "sourcecode",
    "umbmediapicker",
    "umbembeddialog",
    "umbblockpicker",
    "link"
  ]
}]]></Config>
</DataType>