<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dec58dc8-e6f1-41f8-b2cd-ef7fe71bab12" Alias="TinyMCE - Inline Configuration" Level="2">
  <Info>
    <Name>TinyMCE - Inline Configuration</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TinyMCE</EditorUIAlias>
    <Folder>TinyMCE</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "6835fd54-d26b-41be-a756-bcdd07d344fc",
      "label": "{=title}"
    }
  ],
  "maxImageSize": 500,
  "mode": "Inline",
  "plugins": [
    "anchor",
    "charmap",
    "table",
    "lists",
    "advlist",
    "autolink",
    "directionality",
    "wordcount",
    "a11ychecker",
    "advtable",
    "advtemplate",
    "ai",
    "tinymcespellchecker"
  ],
  "toolbar": [
    "styles",
    "blockquote",
    "formatblock",
    "removeformat",
    "bold",
    "italic",
    "underline",
    "strikethrough",
    "alignleft",
    "aligncenter",
    "alignright",
    "bullist",
    "numlist",
    "outdent",
    "indent",
    "table",
    "sourcecode",
    "umbmediapicker",
    "umbembeddialog",
    "umbblockpicker",
    "link",
    "unlink",
    "wordcount",
    "a11ycheck",
    "inserttemplate",
    "aishortcuts aidialog",
    "spellchecker"
  ]
}]]></Config>
</DataType>