@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ContentPage>
@{ Layout = "layout.cshtml"; }

<h1>@Model.Name</h1>
@Html.GetBlockListHtml(Model.ContentBlocks)