<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b5a036cf-f0bc-4afc-ae80-6a9db70e5691" Alias="TinyMCE Readonly" Level="2">
  <Info>
    <Name>TinyMCE Readonly</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TinyMCE</EditorUIAlias>
    <Folder>TinyMCE</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "6835fd54-d26b-41be-a756-bcdd07d344fc"
    }
  ],
  "maxImageSize": 500,
  "mode": "Classic",
  "plugins": [
    "anchor",
    "charmap",
    "table",
    "lists",
    "advlist",
    "autolink",
    "directionality",
    "searchreplace",
    "accordion",
    "codesample",
    "searchreplace",
    "a11ychecker"
  ],
  "toolbar": [
    "styles",
    "bold",
    "italic",
    "alignleft",
    "aligncenter",
    "alignright",
    "bullist",
    "numlist",
    "outdent",
    "indent",
    "sourcecode",
    "umbmediapicker",
    "umbembeddialog",
    "link",
    "accordion",
    "codesample",
    "searchreplace",
    "a11ycheck"
  ]
}]]></Config>
</DataType>