<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2aa8b92f-5011-4329-8736-3c7cd15990ad" Alias="inlineTest" Level="1">
  <Info>
    <Name>Inline Test</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>InlineTest</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="01a09291-e358-75a3-9931-946def8cc7ef">InlineTest</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>80c633a8-a759-4938-9d95-2a3bfe99a798</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>dec58dc8-e6f1-41f8-b2cd-ef7fe71bab12</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab></Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs />
</ContentType>