<?xml version="1.0" encoding="utf-8"?>
<Content Key="8e4d620c-717a-4e30-86b7-8f2ab8ccd198" Alias="Read-only test" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ReadOnlyTest</Path>
    <Trashed>false</Trashed>
    <ContentType>tinyMceFullConfiguration</ContentType>
    <CreateDate>2026-05-21T22:59:30</CreateDate>
    <NodeName Default="Read-only test" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6b63d87f-309a-4c30-8401-587c9115d170">TinyMCEFullConfiguration</Template>
  </Info>
  <Properties>
    <tinyMce>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [
      {
        "contentTypeKey": "6835fd54-d26b-41be-a756-bcdd07d344fc",
        "key": "9fdfcccc-f54e-49d4-aaca-51f696e3be5f",
        "values": [
          {
            "alias": "title",
            "culture": null,
            "editorAlias": null,
            "segment": null,
            "value": "Test readonly"
          },
          {
            "alias": "content",
            "culture": null,
            "editorAlias": null,
            "segment": null,
            "value": {
              "blocks": {
                "contentData": [],
                "settingsData": [],
                "expose": [],
                "layout": {}
              },
              "markup": "\u003Cp\u003EThis shouldn\u0027t be editable\u003C/p\u003E\n\u003Cp\u003Eor this.\u003C/p\u003E"
            }
          }
        ]
      }
    ],
    "settingsData": [],
    "expose": [
      {
        "contentKey": "9fdfcccc-f54e-49d4-aaca-51f696e3be5f",
        "culture": null,
        "segment": null
      }
    ],
    "layout": {
      "Umbraco.RichText": [
        {
          "contentKey": "9fdfcccc-f54e-49d4-aaca-51f696e3be5f",
          "settingsKey": null
        }
      ]
    }
  },
  "markup": "\u003Cp\u003ELi Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.\u003C/p\u003E\n\u003Cumb-rte-block data-content-key=\u00229fdfcccc-f54e-49d4-aaca-51f696e3be5f\u0022\u003E\u003C/umb-rte-block\u003E\n\u003Cp\u003E\u00A0\u003C/p\u003E"
}]]></Value>
    </tinyMce>
  </Properties>
</Content>