<?xml version="1.0" encoding="utf-8"?>
<Content Key="18b62e18-7be9-46fa-aa7c-12ace0b8ae95" Alias="Content Page" Level="2">
  <Info>
    <Parent Key="bdd88430-e7b6-4159-b640-3b17156127fb">Home</Parent>
    <Path>/Home/ContentPage</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2025-04-21T16:42:38</CreateDate>
    <NodeName Default="Content Page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="af2ef58d-5531-473d-86e2-dc2709659d7c">ContentPage</Template>
  </Info>
  <Properties>
    <contentBlocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "6835fd54-d26b-41be-a756-bcdd07d344fc",
      "key": "61706eb6-2348-48ad-b2d5-fa39880be25e",
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "One"
        },
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp\u003EPellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "6835fd54-d26b-41be-a756-bcdd07d344fc",
      "key": "147598fe-69f6-460c-a04c-27f74e249c41",
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Two"
        },
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [
                {
                  "contentTypeKey": "6835fd54-d26b-41be-a756-bcdd07d344fc",
                  "key": "31249a9f-8380-4926-8e86-017ea68c7ee0",
                  "values": [
                    {
                      "alias": "title",
                      "culture": null,
                      "editorAlias": null,
                      "segment": null,
                      "value": "trt"
                    },
                    {
                      "alias": "content",
                      "culture": null,
                      "editorAlias": null,
                      "segment": null,
                      "value": {
                        "blocks": {
                          "contentData": [],
                          "settingsData": [],
                          "expose": [],
                          "layout": {}
                        },
                        "markup": "\u003Cp\u003Edrtdrts dr sd sdfgd\u003C/p\u003E\n\u003Cp\u003Esdfgsdfgdfg\u003C/p\u003E"
                      }
                    }
                  ]
                }
              ],
              "settingsData": [],
              "expose": [
                {
                  "contentKey": "31249a9f-8380-4926-8e86-017ea68c7ee0",
                  "culture": null,
                  "segment": null
                }
              ],
              "layout": {
                "Umbraco.RichText": [
                  {
                    "contentKey": "31249a9f-8380-4926-8e86-017ea68c7ee0",
                    "contentUdi": null,
                    "settingsKey": null,
                    "settingsUdi": null
                  }
                ]
              }
            },
            "markup": "\u003Col\u003E\n\u003Cli\u003ELorem ipsum dolor sit amet, consectetuer adipiscing elit.\u003C/li\u003E\n\u003Cli\u003EAliquam tincidunt mauris eu risus.\u003C/li\u003E\n\u003Cli\u003EVestibulum auctor dapibus neque.\u003C/li\u003E\n\u003C/ol\u003E\n\u003Cumb-rte-block data-content-key=\u002231249a9f-8380-4926-8e86-017ea68c7ee0\u0022\u003E\u003C/umb-rte-block\u003E\n\u003Cp\u003E\u00A0\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "61706eb6-2348-48ad-b2d5-fa39880be25e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "147598fe-69f6-460c-a04c-27f74e249c41",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "61706eb6-2348-48ad-b2d5-fa39880be25e",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "147598fe-69f6-460c-a04c-27f74e249c41",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentBlocks>
    <title>
      <Value><![CDATA[Content Page]]></Value>
    </title>
  </Properties>
</Content>