<?xml version="1.0" encoding="utf-8"?>
<Content Key="ea13592b-4f2f-4dad-bcaf-ccaa6ab3cfa7" Alias="Test Empty" Level="2">
  <Info>
    <Parent Key="bdd88430-e7b6-4159-b640-3b17156127fb">Home</Parent>
    <Path>/Home/TestEmpty</Path>
    <Trashed>false</Trashed>
    <ContentType>inlineTest</ContentType>
    <CreateDate>2026-09-14T02:44:04</CreateDate>
    <NodeName Default="Test Empty" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="01a09291-e358-75a3-9931-946def8cc7ef">InlineTest</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
  </Properties>
</Content>