<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f7e58689-f3d0-4b13-a6f2-f304e5cbbfb0" Alias="TinyMCE - Normal Configuration" Level="2">
  <Info>
    <Name>TinyMCE - Normal Configuration</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TinyMCE</EditorUIAlias>
    <Folder>TinyMCE</Folder>
  </Info>
  <Config><![CDATA[{
  "maxImageSize": 500,
  "mode": "Classic",
  "plugins": [
    "anchor",
    "charmap",
    "table",
    "lists",
    "advlist",
    "autolink",
    "directionality",
    "wordcount",
    "a11ychecker",
    "advtemplate",
    "ai",
    "mergetags"
  ],
  "toolbar": [
    "styles",
    "bold",
    "italic",
    "alignleft",
    "aligncenter",
    "alignright",
    "bullist",
    "numlist",
    "outdent",
    "indent",
    "sourcecode",
    "umbmediapicker",
    "umbembeddialog",
    "link",
    "wordcount",
    "a11ycheck",
    "inserttemplate",
    "aishortcuts aidialog",
    "mergetags"
  ]
}]]></Config>
</DataType>